@font-face {
    font-family: Bebas Neue Regular;
    src: url("font/BebasNeue/BebasNeue-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Simplifica;
    src: url("font/Simplifica.ttf");
    font-weight: normal;
}

/* Included 2 font-size declarations in case clamp() is not supported by
browser */

html, body {
    height: 100%;
    margin: 0;
}

body { /* For iPhone notch */
    background-color: #29303e;
    padding:
            env(safe-area-inset-top)
            env(safe-area-inset-right)
            env(safe-area-inset-bottom)
            env(safe-area-inset-left);
}

/*
TODO:
 * STICKY NAVBAR
 */

.section-container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centered along main axis (vertically) */
    align-items: center; /* centered along main axis (horizontally) */
    /* This is so that the background color will also cover oversized content */
    overflow: auto;
}

.non-title-container {
    padding: 3vh 0 3vh 0;
}

#home-bg {
    min-height: 100%;
    background-color: #29303e;
}

.title-page {
    width: 100%;
    left: 0;
    text-align: center;
}

#intro {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Simplifica, sans-serif;
    color: white;
    font-size: 5rem;
    font-size: clamp(3rem, 3rem + 1vw, 6rem);
}

h1 {
    font-family: Bebas Neue Regular, sans-serif;
    font-size: 15rem;
    letter-spacing: 0.3vw;
    font-size: clamp(10rem, 10rem + 3vw, 20rem);
    color: #e71c12;
    margin-top: 0;
    margin-bottom: 0;
}

.logos {
    color: white;
    font-size: 3rem;
    font-size: clamp(3rem, 3rem + 1vw, 5rem);
    padding: 0 10px 20px 10px;
}

#about {
    background-color: lightgray;
}

h2 {
    margin: 0 0 0 0;
    /*padding-top: 3vh;*/
    font-family: Bebas Neue  Regular, sans-serif;
    font-size: 7.5rem;
    letter-spacing: 0.3vw;
    font-size: clamp(5rem, 5rem + 1.5vw, 10rem);
    /*color: #e71c12;*/
    color: #e32121; /* good for light gray */
    text-align: center;
}

#about-img {
    text-align: center;
}

#about-grid {
    display: grid;
    /*padding: 0 20vh 0 20vh;*/
    /*grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));*/
    grid-template-columns: auto 1fr;
    /*grid-template-rows: repeat(2, auto);*/
    grid-gap: 1vw;
    /*min-width: 60vw;*/
    margin-top: 3vh;
    /*margin: 3vh 0 3vh 0;*/
    min-width: 350px;
    max-width: 60vw;
}

#portrait {
    /*padding: 5vh 0 0 7vh; !* top right bottom left *!*/
    min-height: 300px;
    height: 55vh;
    max-height: 7360px;
    width: auto;
}

.content {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-size: clamp(1rem, 1rem + 0.5vw, 3rem);
    margin-top: 0;
    padding: 0 25px 0 25px;
}

#education {
    /*background-color: #696969;*/
    background-color: darkgray;
}

.course-container {
    background-color: white;
    padding-right: 20px;
}

#courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1vw;
    margin: 3vh 0 3vh 0;
    min-width: 350px;
    max-width: 60vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-size: clamp(1rem, 1rem + 0.3vw, 2rem);
}

.course-title {
    padding-left: 20px;
}

a:link, a:visited {
    color: black;
}

#experience {
    background-color: lightgray;
}

@media screen and (max-width: 1250px) {
    #about-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(325px, 1fr));
        grid-gap: 1vh;
    }
    .content {
        text-align: center;
    }
}
