@font-face {
    font-family: Bebas Neue Book;
    src: url("font/BebasNeue/BebasNeue-Book.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Bebas Neue Light;
    src: url("font/BebasNeue/BebasNeue-Light.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Simplifica;
    src: url("font/Simplifica.ttf");
    font-weight: normal;
}

/* Included 2 font-size declarations in case clamp() is not supported by
browser */

html, body {
    height: 100%;
    margin: 0;
}

body { /* For iPhone notch */
    background-color: #29303e;
    padding:
            env(safe-area-inset-top)
            env(safe-area-inset-right)
            env(safe-area-inset-bottom)
            env(safe-area-inset-left);
}

/*
TODO:
 1. REPLACE FONTS WITH CLAMP
 * STICKY NAVBAR
 */

.section-container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* This is so that the background color will also cover oversized content */
    overflow: auto;
}

#home-bg {
    min-height: 100%;
    background-color: #29303e;
}

.title-page {
    width: 100%;
    left: 0;
    text-align: center;
}

#intro {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Simplifica, sans-serif;
    color: white;
    font-size: 5rem;
    font-size: clamp(3rem, 3rem + 1vw, 6rem);
}

h1 {
    font-family: Bebas Neue Book, sans-serif;
    font-size: 15rem;
    font-size: clamp(10rem, 10rem + 3vw, 20rem);
    color: red;
    margin-top: 0;
    margin-bottom: 0;
    /* TODO: Adjust the spacing above the title */
    /*position: relative;*/
    /*bottom: 15px;*/
}

.logos {
    color: white;
    font-size: 3rem;
    font-size: clamp(3rem, 3rem + 1vw, 5rem);
    padding: 0 10px 20px 10px;
}

#about {
    background-color: lightgray;
}

h2 {
    margin: 0 0 0 0;
    padding-top: 3vh;
    font-family: Bebas Neue Light, sans-serif;
    font-size: 7.5rem;
    font-size: clamp(5rem, 5rem + 2vw, 10rem);
    color: red;
    text-align: center;
}

#about-row {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    margin: 0 10vw 5vh 10vw;
    /*margin-bottom: 5vh;*/
}

.column {
    flex: 1;
    /*align-self: stretch;*/
    /*flex-grow: 1;*/
    /*flex-basis: 0;*/
}

#portrait {
    /*padding: 5vh 0 0 7vh; !* top right bottom left *!*/
    min-width: 200px;
    width: 200px;
    max-width: 4912px; /* 4912px is the original size of the image */
    height: auto;
    /*float: right;*/
    /*margin-right: 2vw;*/
}

.content {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-size: clamp(1rem, 1rem + 0.5vw, 3rem);
    margin-top: 0;
    padding-left: 2vw;
    padding-right: 8vw;
}

#experience {
    background-color: white;
}

/*@media screen and (max-width: 850px) {*/
/*    h1 {*/
/*        font-size: 10rem;*/
/*    }*/

/*    h2 {*/
/*        font-size: 5em;*/
/*    }*/

/*    #intro {*/
/*        font-size: 3em;*/
/*    }*/

/*    .content {*/
/*        font-size: 1rem;*/
/*    }*/
/*}*/